<div class="row g-4 align-items-center">
    <div class="col-lg-6 col-md-6 mb-5">
        <div class="about-left">
            <div class="position-relative shadow rounded img-one">
                <img [src]="'/assets/images/about/ab01.jpg'" class="img-fluid rounded" alt="work-image">
            </div>

            <div class="img-two shadow rounded p-2 bg-white">
                <img [src]="'/assets/images/about/ab02.jpg'" class="img-fluid rounded" alt="work-image">

                <div class="position-absolute top-0 start-50 translate-middle">
                    <a [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                        <i class="mdi mdi-play mdi-24px text-primary"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="section-title ms-lg-5">
            <h4 class="title mb-3">Miles de proveedores. <br> Descubre al experto que buscas aquí.</h4>
            <p class="text-muted para-desc mb-0">Busca entre un vasto directorio de especialistas para tu proyecto. Obtén estimaciones rápidas y revisa perfiles detallados de más de 50+ compañías a nivel nacional</p>
        
            <ul class="list-unstyled text-muted mb-0 mt-3">
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Diversidad de rubros: construcción y más</li>
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Facilitamos tu gestión de proveedores clave</li>
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Transforma la eficiencia de tus proyectos</li>
            </ul>

            <div class="mt-4">
                <a [routerLink]="'/aboutus'" class="btn btn-primary">Sobre nosotros <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
</div>

