<div class="row g-4 mt-0">
    <div *ngFor="let item of jobData.slice(0,6)" class="col-lg-4 col-md-6 col-12">
        <div class="job-post rounded shadow p-4">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img [src]="item.image" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">

                    <div class="ms-3">
                        <a [routerLink]="'/employer-profile'" class="h5 company text-dark">{{item.name}}</a>
                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> {{item.posted}}</span>
                    </div>
                </div>

                <span class="badge bg-soft-primary">{{item.jobType}}</span>
            </div>

            <div class="mt-4">
                <a [routerLink]="['/job-detail-one', item.id]" class="text-dark title h5">{{item.title}}</a>

                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>{{item.location}}</span>

                <div class="progress-box mt-3">
                    <div class="progress mb-2">
                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                    </div>
                    <span class="text-dark">{{item.applied}} applied of <span class="text-muted">{{item.vacancy}} vacancy</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-md-none d-block">
        <div class="text-center">
            <a [routerLink]="'/job-grid-one'" class="btn btn-link primary text-muted">See More Jobs <i class="mdi mdi-arrow-right"></i></a>
        </div>
    </div>
</div>