<div class="container">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="counter-box text-center">
                <h1 class="fw-bold"><span class="counter-value" [countUp]="1548">1010</span>K+</h1>
                <h6 class="counter-head text-muted text-uppercase">Job Fulfillment</h6>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="counter-box text-center">
                <h1 class="fw-bold"><span class="counter-value" [countUp]="25">2</span>+</h1>
                <h6 class="counter-head text-muted text-uppercase">Branches</h6>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="counter-box text-center">
                <h1 class="fw-bold"><span class="counter-value" [countUp]="9">0</span>+</h1>
                <h6 class="counter-head text-muted text-uppercase">Years Experience</h6>
            </div>
        </div>
    </div>
</div>