<div class="row">
    <div *ngFor="let item of featureData" class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
        <div class="position-relative features text-center p-4 rounded shadow bg-white">
            <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                <i [attr.data-feather]="item.icon" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
                <a [routerLink]="[]" class="title h5 text-dark">{{item.title}}</a>
                <p class="text-muted mt-3 mb-0">{{item.decs}}</p>
                <div class="mt-3">
                    <a [routerLink]="[]" class="btn btn-link primary text-dark">Leer mas<i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
