<app-navbar/>
<section class="bg-half-170 d-table w-100" style="background: url('/assets/images/hero/bg.jpg');">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Categorias</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row row-cols-lg-5 row-col-md-4 row-cols-sm-2 row-cols-1 g-4">
            <div *ngFor="let item of category" class="col">
                <div class="position-relative job-category text-center px-4 py-5 rounded shadow">
                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                        <i [attr.data-feather]="item.icon" class="fea icon-ex-md"></i>
                    </div>

                    <div class="mt-4">
                        <a [routerLink]="[]" class="title h5 text-dark">{{item.title1}} <br> {{item.title2}}</a>
                        <p class="text-muted mb-0 mt-3">{{item.jobs}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="about-left">
                    <div class="position-relative shadow rounded img-one">
                        <img [src]="'/assets/images/about/ab01.jpg'" class="img-fluid rounded" alt="work-image">
                    </div>

                    <div class="img-two shadow rounded p-2 bg-white">
                        <img [src]="'/assets/images/about/ab02.jpg'" class="img-fluid rounded" alt="work-image">

                        <div class="position-absolute top-0 start-50 translate-middle">
                            <a [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                                <i class="mdi mdi-play mdi-24px text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="section-title mb-4 ms-lg-3">
                    <h4 class="title mb-3">Preguntas Frecuentes</h4>
                    <p class="text-muted para-desc mb-0">Explora todos los requerimientos disponibles en la plataforma. Recibe una estimación personalizada de tu tarifa según el tipo de servicio. Conoce opiniones reales sobre más de 5,000 empresas en todo el país.</p>
                    <app-faq/>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-top/>

<app-scroll-to-top/>
