<div class="row">
  <div class="col-12 mt-4">
    <div class="tiny-slider tiny-five-item"> <!-- aquí Tiny Slider se engancha -->
      <div *ngFor="let item of company" class="tiny-slide">
        <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
          <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img [src]="item.image" alt="{{item.name}}" class="img-fluid" style="max-height: 250px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
