<app-navbar/>

<section class="bg-half-170 d-table w-100" style="background: url('/assets/images/hero/bg.jpg');">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Sobre Nosotros</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section">
    <div class="container">
        <app-about-one/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center mb-4 pb-2">
            <div class="col-12">
                <div class="section-title text-center">
                    <h4 class="title mb-3">Aca esta el porque amas Procura</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Accede a una amplia red de proveedores calificados en Perú. Descubre el valor de mercado de los servicios y explora perfiles detallados de miles de empresas a nivel nacional.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of aboutData" class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
                <div class="position-relative features text-center p-4 rounded shadow bg-white">
                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                        <i [attr.data-feather]="item.icon" class="fea icon-ex-md"></i>
                    </div>

                    <div class="mt-4">
                        <a [routerLink]="[]" class="title h5 text-dark">{{item.title}}</a>
                        <p class="text-muted mt-3 mb-0">{{item.desc}}</p>
                        <div class="mt-3">
                            <a [routerLink]="[]" class="btn btn-link primary text-dark">Leer mas <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Our Minds</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-0">
            <div *ngFor="let item of teamData" class="col-lg-3 col-md-4 col-12">
                <div class="card team team-primary text-center">
                    <div class="card-img team-image d-inline-block mx-auto rounded-pill avatar avatar-ex-large overflow-hidden">
                        <img [src]="item.image" class="img-fluid" alt="">
                        <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                        <ul class="list-unstyled team-social mb-0">
                            <li *ngFor="let el of item.social" class="list-inline-item me-1"><a [routerLink]="[]" class="btn btn-sm btn-pills btn-icon"><i [attr.data-feather]="el" class="icons fea-social"></i></a></li>
                        </ul>
                    </div>

                    <div class="content mt-3">
                        <a [routerLink]="'/page-team-detail'" class="text-dark h5 mb-0 title">{{item.name}}</a>
                        <h6 class="text-muted mb-0 fw-normal">{{item.position}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Questions & Answers</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                </div>
            </div>
        </div>

        <div class="row mt-4 pt-2">
            <div class="col-md-6 col-12">
                <div class="d-flex">
                    <i data-feather="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i>
                    <div class="flex-1">
                        <h5 class="mt-0">How our <span class="text-primary">Jobnova</span> work ?</h5>
                        <p class="answer text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="d-flex">
                    <i data-feather="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i>
                    <div class="flex-1">
                        <h5 class="mt-0"> What is the main process open account ?</h5>
                        <p class="answer text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be distracted from making a neutral judgement on the visual impact</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="d-flex">
                    <i data-feather="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i>
                    <div class="flex-1">
                        <h5 class="mt-0"> How to make unlimited data entry ?</h5>
                        <p class="answer text-muted mb-0">Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout impression of the final publication is not compromised.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="d-flex">
                    <i data-feather="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i>
                    <div class="flex-1">
                        <h5 class="mt-0"> Is <span class="text-primary">Jobnova</span> safer to use with my account ?</h5>
                        <p class="answer text-muted mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-md-5 pt-md-3 mt-4 pt-2 justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-4">Have Question ? Get in touch!</h4>
                    <p class="text-muted para-desc mx-auto">Start working with <span class="text-primary fw-bold">Jobnova</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                    <a [routerLink]="'/contactus'" class="btn btn-primary mt-3"><i class="mdi mdi-phone"></i> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer/>
<app-scroll-to-top/>